.userList {
    margin: 30px 30px 0 30px;
    background-color: #fff;
    min-height: 375px;
    box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.25);
border-radius: 20px;
padding-bottom: 78px;
}

.default{
    display: flex;
    align-items:center;
    margin-top: 10px;
    justify-content: center;
    border-radius: 5px;
    
}

.item:first-child{
    width: 50px;
}
.item {
    display: flex;
    width: 160px;
    height: 48px;   
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center;
}
.item-email{
    width: 250px!important;
}
.item:last-child{
    width: 50px;
    border-radius: 0;
}
.userId,
.action {
    flex-basis: 2%;
    
}

.action__btn {
    padding: 0px 7px;
}

.action__delete {
    height: 50px;   
    padding: 0px 10px !important; 

}
