.formWrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 20px;
  margin-top: 20px;
}

.form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
