.jobList {
    margin: 50px 0 50px 30px;
    background-color: #fff;
    min-height: 375px;
    width: 375px;
    box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   padding-bottom: 78px;
   }
   
   .default-2 {
    max-width: 300px;
    display: flex;
    align-items: center;
    height: 48px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
   }
   
   .item-2:first-child{
    width: 50px;
   }
   .item:last-child{
    width: 50px;
    
   }
   .item-2 {
    display: flex;
    border: 1px solid #ccc;
    width: 160px;
    height: 100%;
    align-items: center;
       justify-content: center;
   }
   
   .userId,
   .action-2 {
    flex-basis: 7%;
   }
   
   .action__btn-2 {
    padding: 0px 7px;
   
   }
   
   .action__delete-2 {
    
    padding: 0px 7px !important; 
    border-radius: 0;
    height: 50px;
   }
   
   
   @media only screen and (max-width: 768px) {
   
       .jobList     {
           height: auto;
           margin-bottom: 500px;
           width: 80%;
           margin-left: auto;
           margin-right: auto;
           padding-bottom: 78px;
         }
         
   
   }
   