.info_cont{
  display: flex;
  background-color: #fff;
  margin: 20px auto 0 auto;
  height: 800px;
  width: 97%;
  box-shadow: 3px 6px 20px -5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}


.user_info1{
  height: 650px;
  width: 650px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 6px 20px -5px rgba(0, 0, 0, 0.25), -3px -6px 20px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin:25px;
  background-color: #fff;
}

.user_info2{
  background-color: #fff;
  height: 300px;
  width: 650px;
  display: flex;
  flex-direction: column;
  box-shadow: -3px -6px 20px -5px rgba(0, 0, 0, 0.25), 3px 6px 20px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  margin:20px;
}
.info_forum{
  padding: 20px;
}
.user_info3{
  background-color: #fff;
  height: 300px;
  width: 650px;
  display: flex;
  flex-direction: column;
  box-shadow: -3px -6px 20px -5px rgba(0, 0, 0, 0.25), 3px 6px 20px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin:50px 20px;
}
.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.select_flex{
  display: flex;
}

.first_select, .second_select{
  display: flex;
  flex-direction: column;
}
select{
  width: 270px;
height: 40px;
border-radius: 6px;
border: 1px solid #E5E9EB;
color: #303940;
}

.second_select{
  margin-left: 40px;
  
}
.second_select>label,.first_select>label{
  margin-bottom:5px;
}
h1{
font-weight: 500;
font-size: 28px;
line-height: 34px;
color: #000000;
padding: 23px 0 0 25px;
}
.underline{
  background-color: #ccc;
  width: 100%;
  height: 1px;
  margin-bottom: 25px;
}
.button_flex{
  display: flex;
  justify-content: flex-end;
}

  
